﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Css/Site.min.css" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.flot/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery.flot/jquery.flot.stack.js"></script>
    <script src="~/Scripts/jquery.flot/jquery.flot.categories.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>


<body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Diary", "Parse", new { virtualFilename = "bd.txt" })">Parse diary</a></li>
                    <li><a href="@Url.Action("Film", "Parse", new { virtualFilename = "flicks.txt" })">Parse film</a></li>
                    <li><a href="@Url.Action("Diary", "Report")">Diary report</a></li>
                    <li><a href="@Url.Action("Film", "Report")">Film report</a></li>
                    <li><a href="@Url.Action("Index", "Scene")">Manage scenes</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" role="main">
        <div style="padding-top: 40px;">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>