﻿@using Icm.Sex.Application.Parser
@model IEnumerable<ParseMessage>

<h2>Parse result</h2>

<ul class="parse-message-list">
    @foreach (ParseMessage message in Model)
    {
        if (message is ParseInfo)
        {
            <li class="info">@message.Message</li>
        }
        else if (message is ParseError)
        {
            var errorMessage = message as ParseError;
            <li class="error">@message.Message (@errorMessage.Exception.Message)</li>
        }
        else if (message is ParseAction)
        {
            <li class="action">@message.Message</li>
        }
        else
        {
            <li class="unknown">@message.Message</li>
        }
    }
</ul>