﻿@using Icm.Sex.Infrastructure.Reporting
@using Icm.Sex.Core
@using Chart = Icm.Sex.Infrastructure.Reporting.Chart
@model Icm.Sex.Web.ViewModels.ReportViewModel

<script>

    function weekFormatter(val) {
        if (val === 0) { return "Dom"; }
        if (val === 1) { return "Lun"; }
        if (val === 2) { return "Mar"; }
        if (val === 3) { return "Mié"; }
        if (val === 4) { return "Jue"; }
        if (val === 5) { return "Vie"; }
        if (val === 6) { return "Sáb"; }
        return val;
    }


    function monthFormatter(val) {
        if (val === 1) { return "Ene"; }
        if (val === 2) { return "Feb"; }
        if (val === 3) { return "Mar"; }
        if (val === 4) { return "Abr"; }
        if (val === 5) { return "May"; }
        if (val === 6) { return "Jun"; }
        if (val === 7) { return "Jul"; }
        if (val === 8) { return "Ago"; }
        if (val === 9) { return "Sep"; }
        if (val === 10) { return "Oct"; }
        if (val === 11) { return "Nov"; }
        if (val === 12) { return "Dic"; }
        return val;
    }

    function pieChart(guid, data) {
        $.plot('#placeholder-' + guid, data, {
            colors: ['#DB0D1B', '#1EC759', '#1E48C7', '#A236C9', '#DBA40D', '#0DD1DB'],
            series: {
                pie: {
                    show: true,
                    label: {
                        show: true,
                        radius: 3/4,
                        background: {
                            opacity: 0.5,
                            color: '#000'
                        },
                        formatter: function (label, series) {
                            return '<div style="font-size:8pt; text-align:center; padding:2px; color:white;">' + series.data[0][1] + '<br />' + Math.round(series.percent) + '%</div>';
                        }
                    }
                }
            },
            legend: {
                container: $('#legend-' + guid)
            }
        });
    }

    function stackedBarChart(guid, data, formatter) {
        $.plot('#placeholder-' + guid, data, {
            colors: ['#DB0D1B', '#1EC759', '#1E48C7', '#A236C9', '#DBA40D', '#0DD1DB'],
            series: {
                bars: {
                    show: true,
                    align: "center",
                    lineWidth: 0
                },
                stack: true
            },
            legend: {
                container: $('#legend-' + guid)
            },
            xaxis: {
                tickLength: 0,
                tickFormatter: formatter
            }
        });
    }
</script>

@helper PieChart(Icm.Sex.Infrastructure.Reporting.Chart chart)
{
    var guid = Guid.NewGuid();
    if (chart.Series.All(series => series.Points.Count() == 1))
    {
        <div class="pie-container" style="margin: 10px">
            <div id="placeholder-@guid" style="width: 300px; height: 240px;"></div>
            <div id="legend-@guid"></div>
        </div>
        <script>
            var data = [
            @foreach (var series in chart.Series)
            {
                @Html.Raw("{ color: '" + series.SeriesColor + "', label: '" + series.Label + "',  data: " + @series.Points.First().X + "},");
            }
            ];

            pieChart('@guid', data);
        </script>
    }
    else
    {
        <div class="bar-container" style="margin: 10px">
            <div id="placeholder-@guid" style="width: 600px; height: 240px;"></div>
            <div id="legend-@guid"></div>
        </div>
        <script>
            var data = [
            @foreach (var series in chart.Series)
            {
                @Html.Raw("{ color: '" + series.SeriesColor + "', label: '" + series.Label + "',  data: [" + @System.String.Join(",", series.Points.Select(point => "[" + point.X + "," + point.Y + "]")) + "] },");
            }
            ];
            @if (chart.Properties.TryGet("formatter") == "week")
            {

                <text>stackedBarChart('@guid', data, weekFormatter);</text>
            }
            else if (chart.Properties.TryGet("formatter") == "month")
            {
                <text>stackedBarChart('@guid', data, monthFormatter);</text>
            }
            else
            {
                <text>stackedBarChart('@guid', data);</text>
            }
        </script>
    }
}

@helper Header(int level, string text)
{
    if (level == 1)
    {
        <h1>@text</h1>
    }
    else if (level == 2)
    {
        <h2>@text</h2>
    }
    else if (level == 3)
    {
        <h3>@text</h3>
    }
    else if (level == 4)
    {
        <h4>@text</h4>
    }
    else if (level == 5)
    {
        <h5>@text</h5>
    }
    else if (level == 6)
    {
        <h6>@text</h6>
    }
}

@helper PrintedReport(Report report, int level)
{
    var compositeReport = report as CompositeReport;
    if (compositeReport != null)
    {
        if (compositeReport.All(subreport => subreport is Icm.Sex.Infrastructure.Reporting.Chart))
        {
            @Header(level, report.Name)
            foreach (Report subreport in compositeReport)
            {
                @PrintedReport(subreport, level + 1)
            }
        }
        else
        {
            @Header(level, report.Name)
            foreach (Report subreport in compositeReport)
            {
                <div style="clear: left"></div>
                @PrintedReport(subreport, level + 1)
            }
        }

        return;
    }

    Chart chart = report as Chart;
    if (chart != null)
    {
        <div style="float: left">
            @Header(level, chart.Name)
            @PieChart(chart)
        </div>
    }
}

@PrintedReport(Model.Data, 1)

<pre style="clear: left">
@Html.Raw(Model.HtmlMarkdown)
</pre>
