﻿@using Icm.Sex.Web.ViewModels
@model HomeViewModel

<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>@Model.BodiesCount bodies in the system.</p>
    <p>@Model.ScenesCount scenes in the system.</p>
</div>

